@use '../../variables'

.loginBtn
    background: variables.$orange
    color: #fff
    text-transform: uppercase
    padding: 1rem
    border-radius: 4px
    transition: .3s
    &:hover
        background: variables.$dark-orange

.saveTask
    background: variables.$orange
    color: #fff
    padding: 0 .5rem
    border-radius: 4px
    transition: .3s
    &:hover
        background: variables.$dark-orange

.save-update, .delete
    background: variables.$red
    color: #fff
    padding: 1rem
    border-radius: 4px
    transition: .3s
    &:hover, &:focus
        background: variables.$light-red

.save-update
    transition: .3s
    background: variables.$header-color-hover
    &:hover
        background: variables.$header-color
