@use '../../variables'
@use '../../mixins'

.home
    display: grid
    grid-auto-flow: row
    grid-template-columns: 1fr
    grid-template-rows: max-content
    justify-items: center
    margin: 8rem 1rem 4rem
    gap: 1.5rem
    @include mixins.tablet
        margin: 10rem 5rem 4rem
        grid-template-columns: 1fr 1fr
        min-height: 100vh
    @include mixins.desktop
        margin: 14rem 8rem 4rem
        grid-template-columns: repeat(3, 1fr)
        grid-auto-rows: auto
    &__button
        @include mixins.desktop
            align-items: center
            gap: 1rem
            font-size: 1.125rem
    &__button, &__card
        text-align: center
        width: 20rem
        height: 10rem
        max-width: 90%
        padding: 1rem
        border: 5px solid variables.$bg-color
        border-radius: 1rem
        @include mixins.shadows
        @include mixins.tablet
            width: 100%
        @include mixins.desktop
            max-width: 31rem
            padding: 1.5rem
            height: 12rem
            display: flex
            flex-direction: column
            justify-content: center
        &:hover, &:focus
            transition: 0.3s
            @include mixins.shadows-on-hover
        &:active
            transition: 0s
            box-shadow: 10px 10px 1rem variables.$shadow-color, -10px -10px 1rem white, inset 10px 10px 1rem variables.$shadow-color, inset -10px -10px 1rem white
    &__msg
        min-height: 100vh
        @include mixins.tablet
            grid-column: span 2
    &__card
        text-align: left
        &--title, &--desc
            margin-bottom: .5rem
        &--title
            @include mixins.desktop
                font-size: 1.375rem
        &--desc
            @include mixins.desktop
                font-size: 18px
        &--tasks
            display: flex
            align-items: center
            gap: .5rem
            @include mixins.desktop
                font-size: 1.125rem
                gap: 1rem
