// fonts
$main-font: 'Mitr', sans-serif
$hand-font: 'Caveat', cursive

// colors
$primary-color: #555
$secondary-color: #bbb
$bg-color: #ddd
$orange: #FFB72B
$light-orange: #FFE61B
$green: #B5FE83
$red: #C21010
$light-red: #E64848
