// fonts
$main-font: 'Mitr', sans-serif
$hand-font: 'Caveat', cursive

// colors
$primary-color: #555
$secondary-color: #bbb
$bg-color: #ddd
$shadow-color: #a8a8a8
$orange: #FFB72B
$light-orange: #FFE61B
$green: #074F57
$red: #C21010
$light-red: #E64848
