@use './variables'

*
  border: 0
  box-sizing: border-box
  margin: 0
  padding: 0
  text-decoration: none

body
  font-family: variables.$main-font
  background: variables.$bg-color
  color: variables.$primary-color

button, textarea, input, ::placeholder
  font-family: variables.$main-font
  font-size: 1rem
  color: variables.$primary-color

button
  cursor: pointer

::placeholder
  color: variables.$secondary-color

h1
  font-size: 1.5rem

a
  color: variables.$primary-color
  cursor: pointer

.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  white-space: nowrap
  border-width: 0
