@use './variables'

*
  border: 0
  box-sizing: border-box
  margin: 0
  padding: 0
  text-decoration: none
  color: varia

body
  font-family: variables.$main-font
  background: variables.$bg-color

a
  color: variables.$primary-color
